* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black;
  width: 250px;
  margin: 100px auto auto auto;
  border-radius: 10px;
}

.line {
  color: white;
}

.first-line {
  display: flex;
  border-top: 1px darkgray solid;
}

.last-line {
  padding-bottom: 10px;
}

.App-display {
  width: 300px;
  height: 200px;
  font-size: 36px;
  margin-left: 3px;
  display: grid;
  align-items: center;
  color: white;
  text-align: right;
}

.DialButton:focus {
  outline: none;
}
.DialButton:hover {
  background: #1b1b1b;
}
.DialButton:active {
  background: black;
}
.DialButton {
  width: 25%;
  height: 50px;
  color: white;
  background-color: black;
  font-size: 24px;
  border-width: 0;
}
.DialButton-secondary:focus {
  outline: none;
}
.DialButton-secondary:hover {
  background: #1b1b1b;
}
.DialButton-secondary:active {
  background: black;
}
.DialButton-secondary {
  width: 25%;
  height: 50px;
  color: darkorange;
  background-color: black;
  font-size: 24px;
  border-width: 0;
}

.DialButton-terciary:focus {
  outline: none;
}
.DialButton-terciary:hover {
  background: #1b1b1b;
}
.DialButton-terciary:active {
  background: black;
}
.DialButton-terciary {
  width: 25%;
  height: 50px;
  color: white;
  background-color: darkorange;
  font-size: 24px;
  border-width: 0;
  border-radius: 600px;
}
